.containerCode{
    display: flex;
    padding: 1rem;
    flex: 1;
    box-sizing: border-box;
    border-radius: 0.25rem;
    max-inline-size: 13.75rem;
    transition: 00.3s background;
 
}

.containerCode-cover img{
    vertical-align: middle;
}

.containerCode-cover{
    vertical-align: middle;
    border-radius: 0.75rem;
    overflow: hidden;
    position: relative;
}

.containerCode-cover button{
    position: absolute;
    right: 0.5rem;
    bottom: 0.5rem;
    opacity: 0;
    will-change: opacity, transform;
    transform:translateY(0.5rem);
    transition: 0.3s opacity, 0.3s transform;
   
}


.containerCode:hover{
    cursor: pointer;
}
.container-gridCodes:hover .containerCode-cover button,
.containerCode:focus-within .containerCode-cover button{
    transform: translateY(0);
    opacity: 1;
    cursor: pointer;
}


