.reserva{
    padding-block-start: 2rem;
    padding-inline-start: 0.5rem;
    padding-inline-end: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    box-sizing: border-box;
    min-inline-size: 4rem;
}
