@import './search.css';




/* .header-title{
    position: absolute;
    left: 0;
    color: var(--white);
    border: 2px solid red;
    padding-inline-start: 2rem;
} */


.container-header{
    height: 4rem;
    width: 100%;
    border: 0;
    margin: 0;
    padding: 0;
    position: sticky;
    top: 0;
    z-index: 1;
}

.iframe-header{
    padding: 0;
    margin: 0;
    width: 100%;
    border: 0;
    height: 4rem;
}





