.main-codigoTrabajo{
    padding-inline-start: 2rem;
    display: none;
}

.main-artice{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-block-start: 1rem;
    padding-inline-start: 1rem;
}

.main-summary{
    color: var(--gray50);
}

.main-codigoTrabajo:hover{
    cursor: pointer;
}