@import "./menu-item.css";


.main-codigoTrabajo{
    padding-inline-end: 1rem;
}
.main{
    margin-block-end: 1rem;
}
.main-list{
    padding: 0;
    margin: 0;
    list-style: none;
}

.container-main{
    padding-block-start: 2rem;
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding-inline: 0.5rem;
    position: sticky;
    top: 4rem;
}

.main-title{
    color: var(--gray60);
    font: var(--bold);
    font-size: 1.5rem;
    position: relative;
    display: flex;
    align-items: center;
    margin: 0;

   

}

.main-title::before,
.main-title::after{

    content: '';
    color: var(--gray60);
    width: 2rem;
    height: 0.1875rem;
    background-color: currentColor;
    
    
}

.main-title::before{
    left: -3.5rem;
}

.main-title::after{
    right: -3.5rem;
}


.main-global:hover .main-codigoTrabajo {
    display: flex;
}

.main-global:hover .main-item a{
    text-decoration: none;
    box-shadow: inset 4px 0 0 var(--primary);
    color: var(--gray60);
    cursor: pointer;
}



@media screen and (max-width: 15.625rem) {

    .main-title{
        font-size: 1.3rem;
       
    }
    
    .main-title::before, .main-title::after{
        width: 0.9rem;
    
    }

}

