.code-titleGeneral{
    color: var(--gray60);
    font-size: 2rem;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    margin-block-end: 3rem;
    align-self: center;
    position: sticky;
    display: block;
    top: 4rem;
    background: var(--background);
    inline-size: 100%;
    text-align: center;
    padding-block-start: 1rem;
    padding-block-end: 2rem;
    
}

.code-articleTitle{
    margin: 0;
    padding: 0;
    color: var(--gray50);
    font-size: 1rem;
    padding-block-end: 0.3rem;
}