@import '/header/css/search.css';


.header{
    height: 4rem;
    display: flex;
    justify-content: flex-end;
    background: var(--gray50);
    align-items: center;
    position: relative;
    margin: 0;
    padding: 0;
    

}



.header-title{
    position: absolute;
    left: 0;
    color: var(--white);
    padding-inline-start: 2rem;
    margin: 0;
    text-decoration: none;
}


.container-header{
    height: 4rem;
    width: 100vw;
    border: 0;
    margin: 0;
    padding: 0;
    display: flex;
}






